{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>List of Articles</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col"># of raters</th>
            <th scope="col">Article's Rate</th>
            <th scope="col">Your Rate</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.rating_count }}</td>
                <td>{{ article.average_rating }}</td>
                <td>
                    {% if article.user_rating is not None %}
                        {{ article.user_rating }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if user.is_authenticated %}
                        <button onclick="window.location.href='{% url 'article_detail' article.id %}'">Rate this
                        </button>
                    {% else %}
                        <a href="{% url 'account.login' %}?next={{ request.path }}">Login</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
